<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
</head>

<body>
    <form method="post" action="../controller/loginCheck.php">
        <fieldset>
            <legend>LOGIN</legend>
            Username: <input type="text" name="username" value=""> <br>
            Password: <input type="password" name="password" value=""> <br>
            <hr>
            <input type="submit" name="submit" value="Submit"><br><br>
            New User?<a href="">Sign Up</a>
        </fieldset>
    </form>
</body>

</html>